{% extends "base.html"%}

{% load static %}

{% block content %}
<h1>Wohnung {{ flat.Titel }}</h1>
<div class="container" id="Info Wohnung">
<div class="col-xs-6">
  <h3>{{ flat.Stockwerk }}, {{ flat.Position }}</h3>
</div>
<div class="col-xs-6">
  <div class="list-group">
    <a href="#" class="list-group-item active">Adresse</a>
    <a href="#" class="list-group-item">{{ flat.Haus.Straße }} {{ flat.Haus.Hausnummer }}</a>
    <a href="#" class="list-group-item">{{ flat.Haus.PLZ }} {{ flat.Haus.Ort }}</a>
  </div>
</div>
</div>
<h4>Klicken Sie auf eine der Kameras für eine interaktive Besichtigung</h4>
<div class="container-fluid">
  <div id="expose"><img width=100% src="{{ MEDIA_URL }}{{ flat.Expose.url }}"></img>
  {% for node in flat.Kameras.all %}
    <a class="camera" style="left: {{ node.position_left }}%; top: {{ node.position_top }}%" href="{{ request.path }}{{ node.id }}"><img src="{% static 'cam.png' %}"></img>{{ cam.Titel }}</a>
  {% endfor %}
  </div>
</div>

<style>
  .camera img { width: 25px; height: 25px; border-radius: 50%; )}
  .camera {position: absolute;}
  #expose {position: relative;}
</style>
{% endblock %}
