{% extends "base.html" %}
{% block content %}
{% for house in houses %}

<div class="container">
    <h3>Objekt: {{ house }}</h3>
    <div class="row house">
        <div class="col">
            <img src="{{ MEDIA_URL }}{{ house.Bild.url }}" style="width:100%"></img>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-12">
                    {{ house.Beschreibung }}


                <div class="list-group">
                    <p  class="list-group-item active">Adresse: </p>
                    <p  class="list-group-item">{{ house.Straße }} {{ house.Hausnummer }}</p>
                    <p  class="list-group-item">{{ house.PLZ }} {{ house.Ort }}</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row flats">
      <div class="col-1">
      </div>
        <div class="col-10">
            </br>
            <h4>Wohnungen:</h4>
            </br>
            {% for flat in flats %}

                {% if flat.Haus.id == house.id %}
                <div class="row">
                <div class="col-6">
                    <h4>{{ flat }}</h4>
                    <p>{{ flat.Beschreibung }}</p>
                    <div class="list-group">
                        <p class="list-group-item active">Informationen: </p>
                        <p class="list-group-item">Fläche: {{ flat.Fläche }}</p>
                        <p class="list-group-item">Kaltmiete: {{ flat.Kaltmiete }}</p>
                        <p class="list-group-item">Objektnummer: {{ flat.Objektnummer }}</p>
                    </div>
                    <a class="btn btn-primary" style="margin-top:10px" href="{{ flat.id }}">Virtuelle Besichtigung starten</a>
                </div>
                <div class="col-6">
                    <img src="{{ MEDIA_URL }}{{ flat.Bild.url }}" style="width:100%"></img>
                </div>
                </div>
                </br>
                {% endif %}

            {% endfor %}
        </div>
        <div class="col-1">
        </div>
    </div>
</div>
{% endfor %}
<style>
.col-10 .row {
  border-top: solid 1px #ababab;
  padding:10px;
}
</style>
{% endblock %}
